<h2>Show Qwest</h2>

<ul>

<!--
	TODO: Update user show info

  <li>
    <strong>User:</strong>
    <%= @qwest.user_id %>
  </li>
-->

	<li>
    <strong>Title:</strong>
    <%= @qwest.title %>
  </li>

  <%= if @qwest.completed do %>
	  <li>
	    <strong>Completed At:</strong>
	    <%= Timex.DateFormat.format!(@qwest.completed_at, "{ISO:Extended}") %>
	  </li>
	<%= end %>

</ul>

<%= link "Edit", to: qwest_path(@conn, :edit, @qwest) %>
<%= link "Back", to: qwest_path(@conn, :index) %>
